In [46]:
import numpy as np
import pandas as pd
import datetime as dt
import requests
import json

In [48]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from sqlalchemy.types import Integer, Text, String, DateTime, Float
import pandas as pd
from resources import api_keys

In [50]:
#define engine for data model we are creating
engine = create_engine("sqlite:///resources/Housing_Data_Model.sqlite")

a7f426db08402c5683dd45ec2b70823a

In [10]:
#ensure no keys are present to start

[]

In [38]:
#load in clean housing data as pandas df 
housing_frame = pd.read_csv('resources/clean_real_estate_data.csv') 
housing_frame = housing_frame.rename(columns={"Unnamed: 0": "ID"})
housing_frame.head()
test = housing_frame.dtypes
housing_frame['prev_sold_date'] = pd.to_datetime(housing_frame['prev_sold_date'])
print(test)

ID                    int64
bed                 float64
bath                float64
acre_lot            float64
state                object
zip_code            float64
house_size          float64
prev_sold_date       object
price               float64
price_per_sqfoot    float64
month                object
dtype: object

In [39]:

housing_frame.to_sql(
    name='housing_data',
    con=engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "ID": Integer,
        "bed": Float,
        "bath": Float,
        "acre_lot": Float,
        "state": Text,
        "zip_code": Integer,
        "House_size": Float,
        "prev_sold_date":DateTime,
        "price": Float,
        "price_per_sq": Float,
        "month": Text,
    }
)

15679

In [52]:
#query data 
engine.execute("SELECT * FROM housing_data").fetchall()

queried_data = pd.DataFrame(engine.execute("SELECT * FROM housing_data").fetchall())
queried_data.to_csv('housing_data_sql_extract.csv')
queried_data.head()

,ID,bed,bath,acre_lot,state,zip_code,house_size,prev_sold_date,price,price_per_sqfoot,month
0,24268,3.0,2.0,0.16,Massachusetts,1002,1280.0,2021-08-19 00:00:00.000000,275000.0,215.0,2021-08
1,25013,4.0,3.0,0.46,Massachusetts,1075,2108.0,2021-09-21 00:00:00.000000,400000.0,190.0,2021-09
2,25062,4.0,1.0,0.91,Massachusetts,1027,1404.0,2021-09-23 00:00:00.000000,349900.0,249.0,2021-09
3,25101,3.0,2.0,0.16,Massachusetts,1002,1280.0,2021-08-19 00:00:00.000000,275000.0,215.0,2021-08
4,25181,4.0,2.0,0.13,Massachusetts,1040,1529.0,2021-03-22 00:00:00.000000,229000.0,150.0,2021-03